<div>
    @for (image of imageSrc; track image.id) {
        <app-image 
            [imagePathDtoRef]="image"
            [isSelected]="image === selectedImage"
            (onSelectImage)="handleImageSelection($event)"
            (onDeleteImage)="handleDeleteImageSelection($event)"
        ></app-image>
        <hr>
    }
    <div class="container-grid">
        @if (hasPrevious) {
            <button (click)="onPrevPage()" class="page-nav prev">Prev</button>
        }
        
        @if (hasNext) {
            <button (click)="onNextPage()" class="page-nav next">Next</button>
        }
    </div>
</div>