<div 
    (click)="onSelect()" 
    [class.selected]="isSelected"
>
    <img src={{imagePathDtoRef.path}}>
    @if (isSelected) {
        <p>Copy and Paste the following line into the content section to embed a picture into the post: </p>
        <p>{{"![Alt 'text'](" + imagePathDtoRef.path + " 'TITLE HERE')"}}</p>

        @if (!shouldConfirmDeletion) {
            <button (click)="handleConfirmDeletion()">Delete</button>
        } @else {
            <ul>
                <li>
                    <button (click)="confirmDeletion()">Yes</button>
                </li>
                <li>
                    <button (click)="cancelDeletion()">No</button>
                </li>
            </ul>
        }
    }
</div>
