<div 
    (click)="onSelect()" 
    [class.selected]="isSelected"
>
    <img src={{imagePathDtoRef.path}}>
    @if (isSelected) {
        <p>src={{imagePathDtoRef.path}}</p>

        @if (!shouldConfirmDeletion) {
            <button (click)="handleConfirmDeletion()">Delete</button>
        } @else {
            <ul>
                <li>
                    <button (click)="confirmDeletion()">Yes</button>
                </li>
                <li>
                    <button (click)="cancelDeletion()">No</button>
                </li>
            </ul>
        }
    }
</div>
