.markdown {
    margin: 0 1rem;
}

::ng-deep .markdown img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
}

.post {
    white-space: pre-line;
}

.post h1 {
    margin: 0;
}

.signoff {
    margin: 0;
}