<div class="container-grid columns postings">
    <div class="post-list">    
        <h1 class="title">Blog</h1>
        <hr class="title-hr">
        @for (post of postList; track post.id) {
            <app-postlisting [postData]="post"></app-postlisting>
            <hr>
        }
        <div class="container-grid">
            @if (hasPreviousPage) {
                <button
                class="page-nav prev" 
                [routerLink]="['', prevPageNum]" 
                (click)="handlePrevPage()">Prev</button>
            }
            <br>
            @if (hasNextPage) {
                <button 
                class="page-nav next"
                [routerLink]="['', nextPageNum]" 
                (click)="handleNextPage()">Next</button>
            }
        </div>
    </div>
    <div class="container-grid sidebar">
        <div class="mid">    
            <p>FOLLOW US</p>
            <div class="socials">
                <a href="https://www.youtube.com/@PlaySpicejack" target="_blank"><app-youtube-svg-icon></app-youtube-svg-icon></a>
                <a href="https://www.instagram.com/winterfoxgames/" target="_blank"><app-instagram-svg-icon></app-instagram-svg-icon></a>
                <a href="https://x.com/DanielKim118363" target="_blank"><app-x-svg-icon></app-x-svg-icon></a>
                <a href="https://discord.gg/dZdCVnVUek" target="_blank"><app-discord-svg-icon></app-discord-svg-icon></a>
            </div>
        </div>
    </div>
</div>