hr {
    border-top: 1px;
    border-color: var(--main-clr-500);
}

.title {
    text-align: center;
    color: var(--sc-clr-200);
}

.title-hr {
    border-color: var(--main-clr-200);
}

.postings {
    margin: 0 2rem;
}