hr {
    border-top: 1px;
    border-color: var(--main-clr-500);
}

.title {
    text-align: center;
    color: var(--sc-clr-200);
}

.title-hr {
    border-color: var(--main-clr-200);
}

.page-nav {
    padding: .5rem 1rem;
    background-color: var(--sc-clr-400);
    color: var(--main-font);
    border: none;
    border-radius: .25rem;
}

.page-nav.next {
    justify-self: flex-end;
}

.page-nav.prev {
    justify-self: flex-start;
}

.columns {
    grid-template-areas: 
        ".. main sidebar";
    gap: 1rem;
    grid-template-columns: .1fr 2fr max-content;
}

.post-list {
    grid-area: main;
}

.sidebar {
    grid-area: sidebar;
    grid-template-areas: 
        "top"
        "mid"
        "mid"
        "bottom";
    grid-template-rows: .1fr max-content max-content .1fr;
    justify-self: flex-end;
    text-align: center;
}

.sidebar .mid {
    background-color: var(--main-clr-200);
    color: var(--sc-font);
    padding: 1rem;
    grid-area: mid;
}

.socials a{
    margin: .2rem;
}