<div>
    <ul>
        @for(post of postList; track post.id) {
            <app-postref
                [postData]="post" 
                [isSelected]="post === selectedPost"
                (onSelect)="onSelection(post)"
                (onDelete)="onDeletion(post)"
            ></app-postref>
            <hr>
        }
    </ul>
    <div class="container-grid">
        @if (hasPreviousPage) {
            <button (click)="onPrevPage()" class="page-nav prev">Prev</button>
        }
        
        @if (hasNextPage) {
            <button (click)="onNextPage()" class="page-nav next">Next</button>
        }
    </div>
</div>