<footer>
    <app-text-logo-svg-icon></app-text-logo-svg-icon>
    <p>FOLLOW US</p>
    <div>
        <a href="https://www.youtube.com/@PlaySpicejack" target="_blank"><app-youtube-svg-icon></app-youtube-svg-icon></a>
        <a href="https://www.instagram.com/winterfoxgames/" target="_blank"><app-instagram-svg-icon></app-instagram-svg-icon></a>
        <a href="https://x.com/WinterfoxGamesX" target="_blank"><app-x-svg-icon></app-x-svg-icon></a>
        <a href="https://discord.gg/dZdCVnVUek" target="_blank"><app-discord-svg-icon></app-discord-svg-icon></a>
    </div>
</footer>