nav {
    max-height: 2rem;
    justify-content: space-between;
    background-color: var(--main-clr-500);
    box-shadow: 0 0 3rem .5rem var(--main-clr-500);
}

ul {
    margin: 0;
    padding: 0;
}

nav ul {
    flex-direction: column;
}

li {
    max-width: 3rem;
    list-style: none;
}

li a {
    text-decoration: none;
}

.logout {
    align-self: flex-end;
}