<form
    #imageSubmissionForm="ngForm" 
    (ngSubmit)="onSubmit()"
>
    <input
        type="file"
        id="postimg"
        name="image"
        accept="image/png, image/jpeg"
        (change)="onFileSelect($event)"
    >
    <button type="submit">Upload</button>
</form>
<hr>
<label for="retrieveImg">Retrieve Images</label>
<input 
    type="checkbox" 
    id="retrieveImg"
    [checked]="isRetrievingImage"
    (change)="isRetrievingImage= !isRetrievingImage"
>
@if (isRetrievingImage) {
    <app-image-list></app-image-list>
}