<label for="retrieveImg" class="dash-checkbox">
    <input 
        type="checkbox" 
        id="retrieveImg"
        [checked]="isRetrievingImage"
        (change)="isRetrievingImage= !isRetrievingImage"
    >
    Retrieve Images
</label>
@if (isRetrievingImage) {
    <app-image-list></app-image-list>
}
<hr>
<form
    #imageSubmissionForm="ngForm" 
    (ngSubmit)="onSubmit()"
    class="dash-upload"
>
    <label for="postimg">Upload an Image</label>
    <br>
    <input
        type="file"
        id="postimg"
        name="image"
        accept="image/png, image/jpeg"
        (change)="onFileSelect($event)"
    >
    <button type="submit">Upload</button>
</form>