<form 
    #postCreationForm="ngForm" 
    (ngSubmit)="onSubmit()"
    class="container-flex post-form"
>
    <label for="title">Title</label>
    <input 
        id="title" 
        placeholder="Add a title here"
        type="text" 
        name="title"
        required [(ngModel)]="postSubmissionForm.title"
    >
    <label for="thumbnail">Thumbnail URL</label>
    <input
        id="thumbnail"
        placeholder="Add thumbnail URL here"
        type="text"
        name="thumbnail"
        required [(ngModel)]="postSubmissionForm.thumbnail"
    >
    <label for="content">Content</label>
    <textarea 
        id="content" 
        placeholder="Add content here" 
        name="content"
        required [(ngModel)]="postSubmissionForm.content"
    ></textarea>
    <button type="submit">Post/Modify</button>
</form>