:root {
    --main-font-family: "Poppins";

    --main-font: white;
    --sc-font: black;

    --main-clr-200: #EFFBFC;
    --main-clr-400: #24677A;
    --main-clr-500: #234856;

    --sc-clr-200: #FDE7E6;
    --sc-clr-300: #FFABAC;
    --sc-clr-400: #E64D51;
    --sc-clr-500: #7F1C2D;
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    font-family: var(--main-font-family), "sans-serif";
    background-color: var(--main-clr-400);
    color: var(--main-font);
    margin: 0;
}

a {
    color: var(--main-clr-200);
}

.container-flex {
    display: flex;
}

.container-grid {
    display: grid;
}